{% extends "layout.html" %}

{% block pageTitle %}
  Conditional reveals – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Prototyping pages</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Adding a content suffix</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
    <span class="govuk-caption-l">Conditional reveals</span>
    <h1 class="govuk-heading-xl">Guard question examples</h1>

    <!-- CURRENT EXAMPLE -->

    <form class="form" action="/guard-question-answer" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
              How would you prefer to be contacted?
            </h2>
          </legend>
          <div id="contact-hint" class="govuk-hint">
            Select one option.
          </div>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email">
              <label class="govuk-label govuk-radios__label" for="contact">
                Email
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                Phone
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text">
              <label class="govuk-label govuk-radios__label" for="contact-3">
                Text message
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>



    <!-- PROPOSED EXAMPLES -->



{% endblock %}
